@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tere tulemast!</h1>
    <p>Vali ülevalt menüüst tegevus, mida teha tahad.</p>
</div>


<asp:PlaceHolder runat="server" ID="PlaceHolder1"></asp:PlaceHolder>

